<!-- view/partials/header.ejs -->

<nav class="navbar navbar-light bg-light" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <a href="#" class="navbar-brand">
                CRUD MongoDB
            </a>
        </div>

        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/"> Cadastrar </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/show"> Registros </a>
            </li>
        </ul>

    </div>
</nav>