<!DOCTYPE
html>
<html lang="pt-br">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
    <div class="container">
        <header>
            <%- include('../partials/header.ejs') %>
        </header>
        <main>
        <div class="jumbotron">
            <h1> Cadastro </h1>
        </div>
            <p class="alert alert-primary">Cadastre o nome aqui! <p>
                <form action="/show" method="POST">
                    <input type="text" placeholder="Nome" name="name">
                    <input type="text" placeholder="Sobrenome" name="surname">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
        </main>
    </div>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
    </body>
</html> 
